# c
**/*.o
**/a.out

# java
**/*.class

# scala
scala/**/project
scala/**/target

# maven
maven/target

# nodejs
node/**/node_modules
node/**/pacakge-lock.json

# python
python/**/.venv
python/**/__pycache__

# .env file
.env
